<h1>Edit Item: <%= @todo_item.name %></h1>

<%= form_for @todo_item do |f| %>
	<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>

<p>
	<%=f.submit %>
</p>
<% end %>

<%= link_to 'Back', root_path %>
